{% extends "index.html" %}

{% block title %}My Profile{% endblock %} 

{% block body%}
<br>
<br>
<br>
<div class="row">
	<div class="col-sm-6">
		<br>
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>{{logged_user.first_name}} 's profile </th>
					<th><a href="/settings">Edit Profile</a></th>
				<tr>
			</thead>
			<tbody>
				<tr class="success">
					<td>First Name</td>
					<td>{{logged_user.first_name}}</td>
				</tr>
				<tr class="info">
					<td>Last Name</td>
					<td>{{logged_user.last_name}}</td>
				</tr>
				<tr class="success">
					<td>Email</td>
					<td>{{logged_user.email}}</td>
				</tr>
				<tr class="info">
					<td>Gender</td>
					<td>{{logged_user.gender}}</td>
				</tr>
				<tr class="success">
					<td>Address</td>
					<td>{{logged_user.address}}</td>
				</tr>
				<tr class="info">
					<td>Birthday</td>
					<td>{{logged_user.birthday}}</td>
				</tr>
				<tr class="success">
					<td>Interests</td>
					<td>{{logged_user.interests}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-sm-6">
		<ul>
			
		</ul>	
	</div>
</div>
{%endblock%}